@mixin unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

@mixin headingColor($color) {
    background-color: $color;
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {    //600px
            @content
        };
    }
    @if $breakpoint == tab-port {
        @media (max-width: 58.75em) {     //940px
            @content
        };
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {     //1200px
            @content
        };
    }

    @if $breakpoint == small {
        @media (max-width: 93.75em )  {     //1500px
            @content                    
        };              
    }
    @if $breakpoint == big {
        @media (min-width: 112.5em) {     //1800px
            @content
        };
    }
}
