$grey-light-1: #f7f7f7;
$grey-light-2: #eee;
$grey-light-3: #dbdbdb;
$grey-dark: #777;
$grey-dark-2: #999;
$grey-dark-3: #333;
$white: #F5F5F4;
$black: #000;
$bg-dark: #292828;

$primary-light: #f0a58c;
$primary: #E48A65;
$primary-dark: #C57750;

$secondary-light: #b7cbd1;
$secondary: #96A6AB;
$secondary-dark: #739099;

$tertiary-light: #8a7088;
$tertiary: #493648;
$tertiary-dark: #442943;

$text-emphasis: $tertiary-dark;

$section-padding: 7.5rem 15rem;
$section-padding-tab-land: 5rem 10rem;
$section-padding-tab-port: 3rem 6rem;
$section-padding-phone: 1rem 2rem;
